
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<p>16 ассоциаций» — это упражнение из области психолингвистики, направленное на поиск вашей глубинной ассоциации к какому-то одному важному именно для вас слову или понятию.</p>

			<p>Наш мозг устроен так, что когда требуется что-либо запомнить, это кодируется набором визуальных образов, информацией от органов чувств и связанными со всем этим эмоциями и ощущениями в теле – то есть тем, что уже есть в нашей долговременной памяти. Причем все эти «кусочки памяти» тоже, в свою очередь, закодированы подобным набором, из-за чего активация одного из воспоминаний активирует целые цепи. Это и есть ассоциации и цепочки ассоциаций.</p>

			<p>С помощью упражнения «16 ассоциаций» можно потянуть за выбранное ключевое слово, как за ниточку, и вытащить на свет основные связанные с ним ассоциации – чтобы найти ту, которая оказывает наибольшее влияние на наше восприятие ключевого слова. Это влияние практически всегда подсознательное – ведь активация множества ассоциаций происходит одновременно и за доли секунды.</p>
			
			<label class="radio-inline" ><input type="radio" name="optradio" checked="checked" (change)="isWord=false">стандартный</label>
			<label class="radio-inline"><input type="radio" name="optradio" (change)="isWord=true">свое слово</label>
			<button type="button" class="btn btn-success" routerLink = "/input" >Начать</button>
			<br>
			<br>
			<input type="text" *ngIf="isWord" [(ngModel)]="SS">
			{{SS}}
			
		</div>
		<div class="col-md-6 hidden-sm hidden-xs">
			<img class="img-responsive" src="../assets/background.jpg" alt="Chania">
		</div>
	</div>
</div>